<!DOCTYPE html>
<!-- Following code has been commented with appropriate comments for your reference. -->
<html lang="en">
<head>
    <!-- Set the character encoding to UTF-8 -->
    <meta charset="UTF-8">
    <!-- Set the viewport for responsiveness -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Link the external stylesheet for styling -->
    <link rel="stylesheet" href="./Navbar.css">
</head>
<body>
    <nav>
        <!-- Navigation logo section -->
        <div class="nav__logo">
          <!-- Link to the home page -->
          <a href="/">
            StayHealthy 
          </a>
        </div>
      

        <!-- Unordered list for navigation links with 'active' class -->
        <ul class="nav__links active">
          <!-- List item for the 'Home' link -->
          <li class="link">
            <a href="../Landing_Page/LandingPage.html">Home</a>
          </li>
          <!-- List item for the 'Appointments' link -->
          <li class="link">
            <a href="#">Appointments</a>
          </li>
          <!-- List item for the 'Sign Up' link with a button -->
          <li class="link ">
            <a href="../Sign_Up//Sign_Up.html">
              <div class="button1">Sign Up</div>
            </a>
          </li>
          <!-- List item for the 'Login' link with a button -->
          <li class="link">
            <a href="../Login/Login.html">
              <div class="button1">Login</div>
            </a>
          </li>
        </ul>
    </nav>
</body>
</html>